/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.cardLayout {
  padding: 0% 15%;
  columns: 2;
}

.cardElement {
  
  margin: 10px;
  display: inline-flex
}

.cardElement img {
  width: 150px;
}


.green {
  background: green;
}

.purple {
  background: purple;
}

.grid-container {
  /* display: grid; */
  /* flex-direction: row;
  flex: 1; */
  /* grid-template-columns: 1fr 7fr;
  grid-gap: 2%; */
  height: 200px;
  margin: 15px 8%; 
  width: 38%;
  min-width: 350px;
  border: red solid 1px
}

.imageHolder img {
  padding: 2%;
  width: 140px;
  height: 198px;
}

.search {
  padding-bottom: 40px;
}




